

#deleteIngre{
    border-radius: 50%;
    border: none;
    color: white;
    text-align: center;
    background-color: black;
    font-size: 10px;
}

#userIngre{
    font-size: 25px;
}

#searchButton {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #bd3213;
    width: 356px;
    border: 0;
    margin-bottom: 25px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
    

