body {
    font-family: 'Poiret One', cursive;
}

#recipeSteps {
    position: relative;
    z-index: 1;
    padding: 15px 45px 30px 45px;
    text-align: left;
    margin: 20px 0 0 0;
}

#logo {
    width: 400px;
}

#steps {
    margin: 10px 0 10px 0;
}

#loggin_message {
    padding: 15px 0 20px 0;
    margin: 0;
}

#recipeDiv {
    max-width: 600px;
    padding: 30px 45px 30px 45px;
    margin-top: 30px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.signup-page > div {

}

#recipeImage {
    width: 530px;
}

.recipesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.recipeDiv {
    position: relative;
    text-align: center;
    width: 500px;
    height: auto;
    margin: 10px 0 10px 0;
}

.recipeImage {
    width: 500px;
    height: auto;
    -moz-box-shadow: 3px 6px 9px rgba(0,0,0,.5);
    -webkit-box-shadow: 3px 6px 9px rgba(0,0,0,.5);
    box-shadow: 3px 6px 9px rgba(0,0,0,.5);
}

#searchButton {
    margin-top: 20px;
}

.usedIngredientsBottomRight {
    position: absolute;
    bottom: 8px;
    right: 35px;
    padding: 2px 5px 2px 5px;
    border-radius: 8px;
    background-color: white;
}

.recipeTitleTopLeft {
    position: absolute;
    top: 8px;
    left: 35px;
    max-width: 420px;
    padding: 2px 5px 2px 5px;
    border-radius: 8px;
    background-color: white;
}

th {
    border: 2px solid black;
}

td {
    border: 1px solid black;
}

#selectedRecipeDiv {
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 22px 45px 45px 45px;
}

#selectedRecipeDiv > p {
    text-align: left;
}

#recipeIngredientsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipeIngredientsDiv > h3 {
    width: 526px;
    text-align: left;
}

#recipeSummary {
    text-align: left;
    margin: auto 0;
    margin-top: 20px;
}

#selectedRecipeDiv > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    body{
        width: 400px;
        margin: 0;
    }


    #selectedRecipeDiv {
        width: 310px;
        padding: 11px 22px 22px 22px;
    }
    
    #recipeImage {
        width: 300px;
    }

    .recipesDiv {
        width: 400px;
        margin: 0 auto;
    }

    .recipeDiv {
        width: 400px;
    }

    #recipeSummary {
        width: 300px;
        margin: 20px auto 0 0;
    }

    #recipeIngredientsDiv {
        width: 350px;
    }

    #recipeSteps {
        width: 260px;
    }

    table {
        width: 300px;
    }

    header {
        border: none;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    #logo {
        width: 260px;
        margin: 10px 0 10px 0;
    }

    #intro {
        font-size: 15px;
        text-align: left;
        padding: 10px 40px 0 40px;
    }
    
    #freshness {
        display: none;
    }

    #main_div {
        margin: auto 0;
        width: 400px;
    }

    .form {
        margin: 0 auto 100px;
        width: 250px;
    }

    .recipeImage {
        width: 350px;
        height: auto;
        margin: auto 0;
    }

    .recipeTitleTopLeft {
        font-size: 17px;
        max-width: 270px;
        left: 50px;
    }

    #recipeIngredientsDiv > h3 {
        width: 300px;
    }

    .usedIngredientsBottomRight {
        right: 50px;
    }

    #selectedRecipeDiv > div > h2 {
        margin: 8px 0 8px;
    }

    #selectedRecipeDiv > div > p {
        margin: 8px 0 8px;
    }

    header ul li {
        font-size: 20px;
    }
}