#recipeSteps {
    position: relative;
    z-index: 1;
    padding: 30px 45px 30px 45px;
    text-align: left;
    margin: 80px 0 0 20px;
}

#steps {
    margin: 10px 0 10px 0;
}

#recipeDiv {
    max-width: 600px;
    padding: 30px 45px 30px 45px;
    margin-top: 30px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#recipeImage {
    width: 150px;
}

.recipesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.recipeDiv {
    position: relative;
    text-align: center;
    width: 500px;
    height: auto;
    margin: 10px 0 10px 0;
}

.recipeImage {
    width: 500px;
    height: auto;
}

.usedIngredientsBottomRight {
    position: absolute;
    bottom: 8px;
    right: 20px;
    padding: 5px;
    border-radius: 8px;
    background-color: white;
}

.recipeTitleTopLeft {
    position: absolute;
    top: 8px;
    left: 20px;
    padding: 5px;
    border-radius: 8px;
    background-color: white;
}

